
/*making right box*/
.rightBox {
  align-items: center;
  display: flex;
  flex-direction: column;
  position: relative;
  left: 60%;
  top: 200px;
  width: 20%;
  border: 5px solid LightBlue;
  padding: 50px;
  margin: 20px;
}

/*making left box*/
.leftBox {
  align-items: center;
  display: flex;
  flex-direction: column;
  position: relative;
  left: 10%;
  top: -200px;
  width: 20%;
  border: 5px solid LightBlue;
  padding: 50px;
  margin: 20px;
}

/*background image*/
.image {
  background-image: url('https://i.stack.imgur.com/HxtkN.jpg');
  background-attachment: fixed;
  background-size: 100% 100%;
}


/*user picture*/
.userPic{
  border-radius: 100px;
  width: 10vw;
}


/*picture and name and location and blog same features*/
.picAndnlb{
  display: flex;
  flex-direction: row;
}

/*user picture and bio same features*/
.userImage{
  padding: 5px;
  margin: 5px;
  margin-bottom: 0%;
}

/*user bio features*/
.userBio{
  padding: 5px;
  margin: 5px;
}

/*bio features*/
.bio{
  margin-top: 5px;
  --s: 0.1em;   /* the thickness of the line */
  color: white;
  padding-bottom: var(--s);
  overflow: hidden;
  max-width: 25ch;
  font-family: Serif, Helvetica , sans-serif;
  font-size:smaller;
  cursor: pointer;
 }

/*name and blog and location same features*/
.nbl{
  padding: 5px;
  margin: 5px;
} 

/*name features*/
.name{
  text-align: center;
  --s: 0.1em;   /* the thickness of the line */
  margin-top: 5px;
  color: white;
  padding-bottom: var(--s);
  font-family: Serif, Helvetica , sans-serif;
  font-size: small;
  cursor: pointer;
  overflow: hidden;
  max-width: 25ch;

}


/*blog features*/
.blog{
  margin-top: 5px;
  --s: 0.1em;   /* the thickness of the line */
  color: white;
  padding-bottom: var(--s);
  overflow: hidden;
  max-width: 25ch;
  font-family: Serif, Helvetica , sans-serif;
  font-size: small;
  cursor: pointer;
}


/*location features*/
.location{
  margin-top: 5px;
  --s: 0.1em;   /* the thickness of the line */
  color: white;
  padding-bottom: var(--s);
  font-family: Serif, Helvetica , sans-serif;
  font-size: small;
  cursor: pointer;
  overflow: hidden;
  max-width: 25ch;
 }

/*language features*/
.language{
  margin-top: 5px;
  --s: 0.1em;   /* the thickness of the line */   
  color: white;
  padding-bottom: var(--s);
  font-family: Serif, Helvetica , sans-serif;
  font-size: small;
  cursor: pointer;
  overflow: hidden;
  max-width: 25ch;
}

/*id label features*/
.lable{
  margin-bottom: 10px;
  color: DeepSkyBlue;
  font-family: monospace;
}


#id input features
input[type=text] {
  border: none;
  border-bottom: 2px solid DeepSkyBlue;
  padding: 4px 5px;
  text-align: center;
  font-family: Serif, Helvetica , sans-serif;
}

/*submit button features*/
.button {
  display: inline-block;
  padding: 4px 65px;
  font-size: 15px;
  margin-top: 20px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: white;
  background-color: DeepSkyBlue;
  border: none;
  border-radius: 4px;
  font-family: Fantasy;
}


/*name label*/
.namee{
  font-family: Fantasy;
  color: DeepSkyBlue;
}
/*bio label*/
.bioo{
  font-family: Fantasy;
  padding: 5px;
  margin: 5px;
  color: DeepSkyBlue;
}

/*blog label*/
.blogg{
  font-family: Fantasy;
  color: DeepSkyBlue;
}
/*location label*/
.locationn{
  font-family: Fantasy;
  color: DeepSkyBlue;
}
/*language label*/
.languagee{
  font-family: Fantasy;
  color: DeepSkyBlue;
}
